POSTGRES_DB=resalepilot
POSTGRES_USER=resalepilot
POSTGRES_PASSWORD=resalepilot
POSTGRES_PORT=5433

RESALEPILOT_DB_URL=jdbc:postgresql://localhost:5433/resalepilot
RESALEPILOT_DB_USERNAME=resalepilot
RESALEPILOT_DB_PASSWORD=resalepilot
RESALEPILOT_SERVER_PORT=8080
